In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import math

In [2]:
df=pd.read_csv("Customer_Behaviour.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [8]:
df.replace({"Gender":{"Male":0,"Female":1}},inplace=True)

In [9]:
inputs=df.drop("Purchased",axis=1)
inputs

      User ID  Gender  Age  EstimatedSalary
0    15624510       0   19            19000
1    15810944       0   35            20000
2    15668575       1   26            43000
3    15603246       1   27            57000
4    15804002       0   19            76000
..        ...     ...  ...              ...
395  15691863       1   46            41000
396  15706071       0   51            23000
397  15654296       1   50            20000
398  15755018       0   36            33000
399  15594041       1   49            36000

[400 rows x 4 columns]

In [10]:
output=df['Purchased']
output

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [11]:
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [14]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(inputs,output,test_size=0.2)

In [15]:
X_train

      User ID  Gender  Age  EstimatedSalary
54   15654901       1   27            58000
49   15793813       1   31            89000
64   15605000       1   59            83000
255  15750056       1   52            90000
287  15761950       1   48           138000
..        ...     ...  ...              ...
142  15617134       0   35            59000
9    15727311       1   35            65000
206  15654230       1   55           130000
96   15710257       1   35            25000
148  15779862       0   29            61000

[320 rows x 4 columns]

In [20]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [21]:
model.fit(X_train,y_train)
model

LogisticRegression()

In [26]:
y_predict=model.predict(X_test)
y_predict

array([0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1], dtype=int64)

In [23]:
model.score(X_test,y_test)

0.7875

In [24]:
model.score(X_train,y_train)

0.771875