In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Walmart.csv')
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [4]:
df.isna().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [6]:
df.drop(["Date"],axis=1,inplace=True)
df

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...
6430,45,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,760281.43,0,58.85,3.882,192.308899,8.667

In [7]:
inputs=df.drop(["Weekly_Sales"],axis=1)
inputs

      Store  Holiday_Flag  Temperature  Fuel_Price         CPI  Unemployment
0         1             0        42.31       2.572  211.096358         8.106
1         1             1        38.51       2.548  211.242170         8.106
2         1             0        39.93       2.514  211.289143         8.106
3         1             0        46.63       2.561  211.319643         8.106
4         1             0        46.50       2.625  211.350143         8.106
...     ...           ...          ...         ...         ...           ...
6430     45             0        64.88       3.997  192.013558         8.684
6431     45             0        64.89       3.985  192.170412         8.667
6432     45             0        54.47       4.000  192.327265         8.667
6433     45             0        56.47       3.969  192.330854         8.667
6434     45             0        58.85       3.882  192.308899         8.667

[6435 rows x 6 columns]

In [8]:
output=df['Weekly_Sales']
output

0       1643690.90
1       1641957.44
2       1611968.17
3       1409727.59
4       1554806.68
           ...
6430     713173.95
6431     733455.07
6432     734464.36
6433     718125.53
6434     760281.43
Name: Weekly_Sales, Length: 6435, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test= train_test_split(inputs,output,test_size=0.8)

In [11]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg

LinearRegression()

In [12]:
reg.fit(X_train,y_train)

LinearRegression()

In [13]:
y_predict = reg.predict(X_test)
y_predict

array([1141665.38214021,  867374.92771178, 1223467.6422675 , ...,
        992033.93620983, 1289731.20311213,  692635.3481375 ])

In [16]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_predict)

# Calculate RMSE
rmse = np.sqrt(mse)

print("RMSE:", rmse)

RMSE: 524805.825690738